<html>
{% block head_sadrzaj %}
<body>

    <style>

    .link {
      stroke: #ccc;
    }

    .legend {
        margin : 5px;
    }

    .node {
      cursor: pointer;
    }

    .node text {
      pointer-events: none;
      font: sans-serif;
    }
    svg {
        border : none;
        margin : 5px;
        padding : 15px;
        width : 100%;
    }

    </style>
    <script>
        function nodeClick(el){
           alert("ID: "+el.id);
        }
    </script>
    {% endblock %}
    {% block content %}
<!--    <div id="outer" class="container-fluid">-->
<!--        <svg height="900">-->
<!--        </svg>-->
<!--    </div>-->
    <script>

        var svg = d3.select("svg").append("g"),
        height = d3.select("svg").node().getBoundingClientRect().height - 50,
        width = d3.select("svg").node().getBoundingClientRect().width - 50
        zoom = d3.behavior.zoom().scaleExtent([0.1 ,7])
        color = d3.scale.category10();

        var highlight_node = null;
        var highlight_color = "#B8DE75";
        var highlight_trans = 0.1;
        var default_link_color = "#ccc";
        var text_color = "#373D3F";

        var nominal_base_node_size = 8;
        var nominal_text_size = 10;
        var max_text_size = 24;
        var nominal_stroke = 1.5;
        var max_stroke = 4.5;
        var max_base_node_size = 36;

        var g = svg.append("g")

        var dataset = JSON.parse(`
        {"nodes":[{"id" : 0, "name":"McNulty", "group": 0, "family": "The Law", "influence":40},
            {"id" : 11,"name":"Stringer", "group": 1, "family": "The Street", "influence":15},
            {"id" : 2,"name":"Bodie", "group": 1, "family": "The Street", "influence":24},
            {"id" : 3,"name":"Clay Davis", "group": 2, "family": "The Press", "influence":18},
            {"id" : 40,"name":"Bubbles", "group": 1, "family": "The Street", "influence":36},
            {"id" : 5,"name":"Cedric Daniels", "group": 0, "family": "The Law", "influence":22}],
        "links":[{"source":0,"target":11,"weight":9},
            {"source":2,"target":3,"weight":21},
            {"source":2,"target":40,"weight":30},
            {"source":2,"target":5,"weight":23},
            {"source":40,"target":0,"weight":13}]}
        `);


        var nodes = dataset.nodes,
            links = dataset.links;

        links.forEach(function(link) {
            link.source = nodes.find(x => x.id == link.source)
            link.target = nodes.find(x => x.id == link.target)
            link.weight = (link.source.influence + link.target.influence)/2
        });

         var linkedByIndex = [];
         links.forEach(function(d) {
            linkedByIndex.push(d.source.id + "," + d.target.id);
          });

         function isConnected(a, b) {
                return linkedByIndex.includes(a.id + "," + b.id) || linkedByIndex.includes(b.id + "," + a.id) || a.id == b.id;
         }


        //layout
        var force = d3.layout.force()
                    .size([width, height])
                    .nodes(nodes)
                    .links(links)
                    .on("tick", tick)
                    .gravity(0.05)
                    .charge(-300)
                    .linkDistance(300)
                    .start();

        // elementi se centriraju kad se menja window size
        d3.select(window).on('resize', function() {
            height = d3.select("svg").node().getBoundingClientRect().height - 50;
            width = d3.select("svg").node().getBoundingClientRect().width - 50;
            force.size([width, height]);
            force.start();
        });

        var drag = force.drag().on("dragstart", function() {
            d3.event.sourceEvent.stopPropagation();
        });

        //dodavanje veza izmedju cvorova
        var link = svg.selectAll(".link")
                .data(links)
                .enter()
                .append("line")
                .attr("class", "link")
                .attr("stroke-width", function(d){ return d.weight/5; });

        //cvorovi se moraju dodati kasnije
        // da se ne bi videle linije preko kruga
        var node = svg.selectAll(".node")
                .data(nodes)
                .enter()
                .append("g")
                .attr("class", "node")

        var text = node.append("text")
            .attr("dx", 15)
            .text(function(d){ return d.name; })
            .style('fill' , 'text_color')
            .attr("font-size", function(d){ return d.influence * 1.5 > 11 ? d.influence*1.5: 11; })


        var circle = node.append("circle")
            .attr("r", function(d){ return d.influence/2>5 ? d.influence/2 : 5; })
            .attr("fill", function(d){ return color(d.group*10); })
            .attr("data-legend",function(d) { return d.group});


        // legenda grafa
        var legend = svg.selectAll(".legend")
            .data(color.domain())
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 35 + ")"; });

        legend.append("rect")
            .attr("width", 28)
            .attr("height", 28)
            .style("fill", color);

        legend.append("text")
            .attr("x",  35)
            .attr("y", 15)
            .attr("dy", ".35em")
            .text(function(d) { return nodes.find(x => x.group == d/10).family; });


        function tick (d){

            node.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";})
                .call(force.drag);

            //koordinate veza
            link.attr("x1", function(d){ return d.source.x; })
            link.attr("y1", function(d){ return d.source.y; })
            link.attr("x2", function(d){ return d.target.x; })
            link.attr("y2", function(d){ return d.target.y; });
        }

        node.on("mouseover", function(d) {
            set_highlight(d);
        })
            .on("mouseout", function(d) {
                exit_highlight();
        });

        function exit_highlight()
        {
            highlight_node = null;
            svg.style("cursor","move");
            circle.style("stroke", "white");
            text.style("font-weight", "normal");
            circle.style('stroke-width', 0);
            link.style("stroke", function(o) {return (isNumber(o.score) && o.score>=0)?color(o.score):default_link_color});

        }


        function set_highlight(d)
        {
            svg.style("cursor","pointer");
            highlight_node = d;

            circle.style("stroke", function(o) {
                return isConnected(d, o) ? highlight_color : "white";
            });
            circle.style('stroke-width', function(o) {
                return isConnected(d, o) ? 5 : 0;
            });
            text.style("font-weight", function(o) {
                return isConnected(d, o) ? 550 : "normal";
            });
            link.style("stroke", function(o) {
              return o.source.index == d.index || o.target.index == d.index ? highlight_color : ((isNumber(o.score) && o.score>=0)?color(o.score):default_link_color);
            });

        }

        function isNumber(n) {
          return !isNaN(parseFloat(n)) && isFinite(n);
        }

    </script>
</body>
{% endblock %}
</html>